# Server Port
PORT=8080

# PostgreSQL Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=certify
DB_USERNAME=postgres
DB_PASSWORD=postgres
# Optional: Use a single JDBC connection string directly (e.g., for NeonDB / cloud providers)
# DB_URL=jdbc:postgresql://<neon_host>/certify?sslmode=require

# JWT Security
JWT_SECRET=SecretKeyToGenerateJWTsSecretKeyToGenerateJWTsSecretKeyToGenerateJWTs

# Storage Options: local / s3
STORAGE_PROVIDER=local

# Local Storage Directory
UPLOAD_DIR=uploads

# AWS S3 Configurations (optional, if STORAGE_PROVIDER=s3)
AWS_S3_BUCKET=oryfolks-certify-snapshots
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# AI API Keys
GROQ_API_KEY=
GROK_API_KEY=
GEMINI_API_KEY=
